In [3]:
import pandas as pd
import random

# Club info with frequencies and participation range
club_events = {
    "Music Club": {"freq": 1, "min": 70, "max": 100},
    "BDACC": {"freq": 1, "min": 10, "max": 18},
    "FinWiz": {"freq": 1, "min": 90, "max": 120},
    "UNIQ": {"freq": 2, "min": 50, "max": 75},
    "LDC": {"freq": 3, "min": 45, "max": 65},
    "180DC": {"freq": 2, "min": 25, "max": 40},
    "BClub": {"freq": 2, "min": 20, "max": 35}
}

days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
schedule = []

used_slots = set()  # to avoid duplicate day-club entries

for club, info in club_events.items():
    chosen_days = random.sample(days, info["freq"])
    for day in chosen_days:
        while (day, club) in used_slots:
            day = random.choice(days)
        used_slots.add((day, club))
        participants = random.randint(info["min"], info["max"])
        schedule.append({
            "Day": day,
            "Club": club,
            "Event Type": "Club Activity",
            "Participants": participants
        })

# Create DataFrame and sort by Day
df_schedule = pd.DataFrame(schedule)
df_schedule = df_schedule.sort_values(by="Day", key=lambda x: pd.Categorical(x, categories=days, ordered=True)).reset_index(drop=True)

df_schedule

          Day        Club     Event Type  Participants
0      Monday        UNIQ  Club Activity            52
1     Tuesday      FinWiz  Club Activity           104
2     Tuesday       BClub  Club Activity            30
3   Wednesday  Music Club  Club Activity            92
4   Wednesday        UNIQ  Club Activity            75
5    Thursday         LDC  Club Activity            59
6    Thursday       180DC  Club Activity            32
7    Saturday       BDACC  Club Activity            12
8    Saturday         LDC  Club Activity            55
9    Saturday       180DC  Club Activity            38
10     Sunday         LDC  Club Activity            59
11     Sunday       BClub  Club Activity            34

In [2]:
df

,Day,Club,Event Type,Min Participants,Max Participants
0,Monday,LDC,Workshop,50,70
1,Monday,FinWiz,Guest Lecture,10,20
2,Tuesday,Music Club,Jam Session,60,80
3,Tuesday,BDACC,Networking Event,15,25
4,Wednesday,UNIQ,Design Competition,40,60
5,Wednesday,BClub,Casual Meet-up,10,18
6,Thursday,180DC,Case Study Workshop,12,22
7,Thursday,LDC,Debate Competition,45,65
8,Friday,Music Club,Open Mic Night,70,90
9,Friday,FinWiz,Finance Quiz,12,20
10,Saturday,UNIQ,Exhibition,45,65
11,Saturday,BDACC,Skill Development,18,28
12,Sunday,LDC,Seminar,50,70
13,Sunday,180DC,Workshop,15,25
14,Sunday,BClub,Social Gathering,10,18